html { font-family: Arial, Helvetica, sans-serif; }

.container {
margin: -8px;
padding: 10px;
}

#content {
border: 1px solid black;
background: black;
}

#navigation {
border: 1px solid darkblue;
background: darkblue;
position: fixed;
top: 0;
left: -20px;
bottom: 0;
transition: .5s;
}

#content:hover + #navigation {
top: 0;
left: 0;
bottom: 0;
}
